#lol{
    background: #33e7ff;
    height: 650px;
    width: 890px;
}

.dos{
    float: left;
    width: 150px;
    height: 150px;
    border: black dotted;
    font-family: arial;
    font-style: italics;
    margin: 10px;
    font-size: small;
    background-color: #00b4;
}

.tres{
    clear: both;
    width: 150px;
    height: 150px;
    border: black dotted;
    font-family: arial;
    font-style: italics;
    margin: 10px;
    font-size: small;
    background-color: #00b4cc;
}

.ini{
    color: #005a66;
    font-size: 40px;


}

h1{
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
    color: #005a66;
}